* { box-sizing: border-box; padding: 0; margin: 0; }

h1, h2, h3, h4, h5, h6 {
    margin-top: 1em;
    margin-bottom: 1em;
}

p, table, ul {
    margin-bottom: 1em;
}

table {
    border-collapse: separate;
    border-spacing: 3px 1px;
}

ul {
    list-style-type: circle;
    padding-left: 2em;
}



html { height: 100%; margin: 0; padding: 0; }
body { min-height: 100%; margin: 0; padding: 0; }

body, table {
    background-color: #e2dbc8;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main {
    display: grid;
    grid-template-columns: 300px 350px auto;
    column-gap: 2em;
    margin: 0;
    padding: 1em;
    height: 100vh;
}

.mainleft {
    grid-column-end: span;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 1em);
}

#calcinput {
    display: contents;
}

#results {
    overflow-y: auto;
}

.tablegridwrapper {
    /* position: sticky; */
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: 2em;
}

img.icon {
    max-height: 20px;
    vertical-align: middle;
}

.tablegridwrapper table, .sets table {
    width: 320px;
}

.tablegridwrapper td:last-child, .sets td:last-child {
    text-align: right;
}

.radio-toolbar label {
    user-select: none;
    font-family: Courier New;
    background-color: #EEEEEE;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    display: inline-block;
    width: 16px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 0;
    margin-right: 0;
    margin: 0;
    padding: 0;
}
.radio-toolbar label:first-of-type {
    border-left: 1px solid #444;
}

.radio-toolbar label:last-child {
    border-right: 1px solid #444;
}

.radio-toolbar input[type="radio"] {
    display: none;
    margin: 0;
    padding: 0;
}

.radio-toolbar input[type="radio"]:checked + label[for$="never"] {
    background-color:#f88;
}

.radio-toolbar input[type="radio"]:checked + label[for$="less"] {
    background-color:#fcc;
}

.radio-toolbar input[type="radio"]:checked + label[for$="neutral"] {
    background-color:#eee;
}

.radio-toolbar input[type="radio"]:checked + label[for$="more"] {
    background-color:#cfc;
}

.radio-toolbar input[type="radio"]:checked + label[for$="doublemore"] {
    background-color:#afa;
}

.radio-toolbar input[type="radio"]:checked + label[for$="triplemore"] {
    background-color:#8f8;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color:#6f6;
}

.radio-toolbar input[type="radio"] + label:hover {
    text-decoration: underline;
}


#maxfrags {
    width: 3em;
}